  <p>
<% unless comment.parent_id || !comment.persisted? %>
<p>

 <%= comment.comment %>
 <%= link_to 'reply', new_micropost_comment_path(@micropost, parent_id: comment.id), remote: true %>
</p>

<% if comment.replies.any? %>
 <% comment.replies.each do |reply| %>
 <ul>
 <li><%=reply.comment%></li>
 </ul>
 <% end %>
<% end %>
<div id="reply-form-<%= comment.id %>"></div>
<% end %>
  </p>

