<p>
<% unless comment.parent_id || !comment.persisted? %>
<p>
 <% comment_owner = User.find(comment.user_id).name%>
 <b><%=comment_owner%> </b>
 <%= comment.comment %>
 <%= link_to 'reply', new_micropost_comment_path(@micropost, parent_id: comment.id), remote: true %>
 <%= render partial: 'comments/reply', locals: {micropost: @micropost, comment:comment}%>
 <%end%>
</p>

