<p style="color: green"><%= notice %></p>
<h1> <b><%= current_user.name %></b> has been logged-in </h1>
<b><%= link_to "View your profile", user_path(current_user) %></b>
<h2>Your Feed</h2>

<div id="microposts">
  <% @microposts.each do |micropost| %>
  <div>
  <h3> click here to see this micropost <%=  link_to micropost.id  ,micropost %> </h3>
  </div>
  <b>--------------------------------------------------</b>
  <% end %>
</div>

<a href='http://localhost:3000/microposts/new'>
        <button class="GFG">
            create new micropost
        </button>
    </a>
